@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

/* Disable Transitions if the user has the browser setting reduced motion set to true*/
@media (prefers-reduced-motion: reduce) {

  * {
    transition: none !important;
  }
}
